* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region Color Palette */
:root{
    --drop-primary: #B4D0E7;
    --drop-btn: #0061FF;
    --drop-dark: #000000;
    --drop-lighter: #FFFFFF;
    --drop-light: #F5F5F5;
}
/* #endregion Color Palette */

/* #region Common */
body{
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style: none;
}
img{
    width: 100%;
}
/* #endregion Common */

/* #region Utilities */
.d-flex{
    display: flex;
}

.container-l{
    width: 65%;
    margin: auto;
}
.p-4{
    padding: 4rem;
}

.wrap{
    flex-wrap: wrap;
}
/* #endregion Utilities */

/* #region Header */
.site-header{
    background-color: var(--drop-lighter);
    font-size: small;
    position: fixed;
    z-index: 1000;
    width:100%;
}

.site-header nav{
    width: 95%;
    margin: auto;
}
nav > div{
    width:50%;
    flex-grow: 1;
}

.left-header, .right-header{
    align-items: center;
}

.left-header > div{
    width: 6rem;
}
.left-header li, .left-header > div, .right-header li, .right-header > div{
    padding: 0.5rem;
}

.right-header{
    justify-content: end;
}

.right-header button{
    padding: 0.3rem 0.5rem;
    border: none;
    background-color: var(--drop-btn);
    color: var(--drop-lighter);
}
/* #endregion Header */

.jumbotron {
    background-color: var(--drop-primary);
    padding-top: 5rem;
}

.jumbotron h1{
    font-size: 3rem;
    padding-bottom: 2rem;
}

.jumbotron .d-flex>div:last-child{
    margin-bottom: -4rem;
}
.jumbotron .d-flex>div:first-child{
    flex-direction: column;
    justify-content: space-between;
    font-size: small;
}
.jumbotron button{
    padding: 0.6rem 0.5rem;
    border: none;
    width: fit-content;
    background-color: var(--drop-btn);
    color: var(--drop-lighter);
}

.jumbotron i{
    font-size: 2rem;
    padding-bottom: 1rem;
}
.plan-business{
    padding:4rem 0;
}

.container-s{
    width:55%;
    background-color: red;
    margin:auto;
}
.row{
    justify-content: space-between;
    flex-wrap: wrap;
}

.col{
    height: 15rem;
    width: 10rem;
    background-color: blue;
    border: 1px solid black;
}
.border{
    border: 1px solid black;
}

.border:first-child{
    text-align: center;
}

.paragraph > div:first-child{
    width: 70%;
}
.paragraph > div:last-child{
   flex-grow: 1;
}
.partner .d-flex {
    flex-basis: 50%;
}

.col-4{
    width: calc(100%/12*4);
}
.card.col-4{
    padding:2rem 1rem;
    margin:0 -1rem;
}

.container > div{
    width: calc(100%/12*4);
}

.logos-left div{
    width: 50%;
    padding: 3rem;
}
.logos-right div{
    width: 50%;
    padding: 3rem;
}

.free-trial{
    background-color: var(--drop-primary);
}

.free-trial h2{
    width: 80%;
}

.faq li{
    padding: 1rem 0;
}
.faq li:first-child, .faq li:last-child{
    border-bottom: 0.5px solid black;
    border-top: 0.5px solid black;
}

.site-footer{
    background-color: var(--drop-dark);
    color: var(--drop-lighter);
    padding: 4rem 0 3rem 0;
}

.site-footer .container-l>div{
    width: calc(100%/5);
    flex-grow: 1;
}