* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region Color Palette */
:root{
    --drop-primary: #B4D0E7;
    --drop-btn: #0061FF;
    --drop-dark: #000000;
    --drop-lighter: #FFFFFF;
    --drop-light: #F5F5F5;
}
/* #endregion Color Palette */

/* #region Common */
body{
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style: none;
}
img{
    width: 100%;
}
/* #endregion Common */

/* #region Utilities */
.f-size-08{
    font-size: 0.8rem;
}
.d-flex{
    display: flex;
}

.container-l{
    width: 65%;
    margin: auto;
}
.container-s{
    width:55%;
    /* background-color: red; */
    margin:auto;
}
.btn{
    padding: 0.6rem 0.8rem;
    border: none;
    background-color: var(--drop-btn);
    color: var(--drop-lighter);
}
.p-4{
    padding: 4rem 0;
}

.wrap{
    flex-wrap: wrap;
}
/* #endregion Utilities */

/* #region Header */
.site-header{
    background-color: var(--drop-lighter);
    font-size: small;
    position: fixed;
    z-index: 1000;
    width:100%;
}

.site-header nav{
    width: 95%;
    margin: auto;
}
nav > div{
    width:50%;
    flex-grow: 1;
}

.left-header, .right-header{
    align-items: center;
}

.left-header > div{
    width: 6rem;
}
.left-header li, .left-header > div, .right-header li, .right-header > div{
    padding: 0.5rem;
}

.right-header{
    justify-content: end;
}

.right-header button{
    padding: 0.3rem 0.5rem;
    border: none;
    background-color: var(--drop-btn);
    color: var(--drop-lighter);
}
/* #endregion Header */

/* #region Main */

/* #region Jumbotron */
.jumbotron {
    background-color: var(--drop-primary);
    padding-top: 5rem;
}

.jumbotron h1{
    font-size: 3rem;
    padding-bottom: 2rem;
}

.jumbotron .d-flex>div:last-child{
    margin-bottom: -4rem;
}
.jumbotron .d-flex>div:first-child{
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.9rem;
}
.jumbotron button{
    width: fit-content;
}

.jumbotron i{
    font-size: 2rem;
    padding-bottom: 1rem;
}
/* #endregion Jumbotron */

/* #region Business Plan */
.plan-business{
    padding:7rem 0;
}
.plan-business h2{
    padding-bottom: 1rem;
}
.plan-business .container-s>span{
    padding-right: 2rem;
}
.row{
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 1.5rem;
}

.col{
    width: 14rem;
    border: 1px solid lightgray;
}

.col >div:first-child{
    padding: 0.3rem 0;
    text-align: center;
    border-top: 1px solid lightgray ;
    border-bottom: 1px solid lightgray ;
}

.plan-info{
    padding: 1.5rem 1rem;
}
.plan-info-top{
    height: 4rem;
}
.plan-info-top > ul > li:nth-child(2){
    color: lightgray;
}

.plan-info-middle ul, .plan-info-bottom ul{
    padding: 0.5rem 0;
    padding-left: 7px;
    text-indent: -7px;
}

.plan-info-middle li{
    padding: 0.5rem 0;
}

.plan-info-middle .btn{
    width: 100%;
}
.plan-info-middle>div:last-child{
    padding: 1rem 0;
}

.plan-info-bottom{
    padding-top: 1rem;
}

.plan-info-bottom hr{
    width: 2rem;
    border: 1px solid lightgray;
}

.plan-info-bottom h4{
    padding: 1rem 0;
    font-size: 0.9rem;
}
/* #region Sales office */

.sales-office >*{
    border: 1px solid lightgray;
}

.client{
    text-align: center;
    padding: 0.5rem 0;
}
.sales-contact{
    padding: 1rem;
}
.sales-contact > div:first-child{
    width: 70%;
    & p {
        padding-top: 2rem;
    }
}
.sales-contact > div:last-child{
   flex-grow: 1;
   text-align: end;
}
/* #endregion Sales office */
/* #endregion Business Plan */
.partner .d-flex {
    flex-basis: 50%;
}

.col-4{
    width: calc(100%/12*4);
}
.card.col-4{
    padding:2rem 1rem;
    margin:0 -1rem;
}

.container > div{
    width: calc(100%/12*4);
}

.logos-left div{
    width: 50%;
    padding: 3rem;
}
.logos-right div{
    width: 50%;
    padding: 3rem;
}

.free-trial{
    background-color: var(--drop-primary);
}

.free-trial h2{
    width: 80%;
}

.faq li{
    padding: 1rem 0;
}
.faq li:first-child, .faq li:last-child{
    border-bottom: 0.5px solid black;
    border-top: 0.5px solid black;
}
/* #endregion Main */
.site-footer{
    background-color: var(--drop-dark);
    color: var(--drop-lighter);
    padding: 4rem 0 3rem 0;
}

.site-footer .container-l>div{
    width: calc(100%/5);
    flex-grow: 1;
}